
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
  
  .navber{
    max-width: 1440px;
    margin: 0px auto;
  }

  /* navbar style */
  .menu-bar{
    display: none;
    height: 20px;
    width: 30px;
  }
  .nav-hr{
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
  }
  .logo-brand{
    display: flex;
    margin-right: 15px;
    align-items: center;
  }
  .brand-name{
    font-size:2rem ;
    font-weight: bold;
  }
  .nav-links{
    display: flex;
    align-items: center;
  }
  .nav-item{
    list-style: none;
    margin-right: 32px;
  }
  .nav-link1{
    text-decoration: none;
    color: rgba(254, 163, 1, 1);
    font-size: 1.25rem;
    font-weight: bold;
  }
  .nav-link2{
    text-decoration: none;
    color: skyblue;
    font-size: 1.25rem;
    font-weight: 600px;
  }
  .nav-link3{
    text-decoration: none;
    color:rgba(5, 212, 223, 1);
    font-size: 1.25rem;
    font-weight: 600px ;
  }
  .nav-link4{
    text-decoration: none;
    color: rgba(93, 88, 239, 1);
    font-size: 1.25rem;
    font-weight: 600px;
  }
  .button1{
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background-color: rgba(254, 163, 1, 1);
    border: none;
  }
  .button1:hover{
    background-color: black;
  }

  /* banner style */
  
.banner{
  max-width: 1360px;
  margin: 0px auto;
  display: flex;
  gap: 70px;
  grid-template-columns: repeat(2,1fr);
  
}
.banner-content{
  max-width: 1440px;
  margin: 120px 70px 120px 0px;
  justify-content: center;
  align-items: center;
}
.banner-title{
  font-size:3.5rem ;
  font-weight: bold;
  margin-bottom: 10px;

}
.title-color1{
  color: rgba(254, 163, 1, 1);
}
.title-color2{
  color: rgba(1, 172, 253, 1);
}
.banner-description{
  font-size:1.25rem ;
  font-weight: 400px;
  color: rgba(17, 17, 17, 1);
}
.banner-button1{
  background-color:black;
  font-size: 20px;
  font-family:Quicksand;
  font-weight: bold;
  border-radius: 12px;
  text-align: center;
  padding: 10px 45px;
  color: rgb(245, 245, 245);
  border: none;
  cursor: pointer;
  align-items: center;
}
.banner-button1:hover{
  background-color: orange;
}
.banner-img{
  width: 100%;
  margin: 0px auto;
}

/* curriculam card style */
.curriculam{
  background-image: url("../assets/bg.png");
  max-width: 1360px;
  margin: 0px auto;
}
.curriculam-title{
  font-size:3.05rem ;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}
.curriculam-card1{
  padding: 80px 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 8px rgb(194, 191, 191);
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, #e3f6fc, #ffffff);
}
.curriculam-card2{
  padding: 80px 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 8px rgb(194, 191, 191);
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 244, 220, 1), #ffffff);
}
.curriculam-card3{
  padding: 80px 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 8px rgb(194, 191, 191);
  justify-content: center;
  text-align: center;
  background: linear-gradient(to bottom, rgba(242, 232, 255, 1), #ffffff);
}
.card1-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
}
.card2-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
}
.card3-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 32px;
}
.card1-description{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 1);
}
.card2-description{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 1);
}
.card3-description{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(128, 128, 128, 1);
}
.card1-button{
  color: rgb(89, 184, 235);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: white;
}
.card2-button{
  color: rgba(240, 170, 0, 1);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: white;
}
.card3-button{
  color:rgba(135, 0, 255, 1);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: white;
}
.arow-container{
  display: flex;
  flex-wrap: wrap;
  margin-top:80px;
  justify-content: center;
  align-items: center;
  
}
/* .arow1{
  width: 60px ;
  height: 60px;
  margin-right: 20px;
}
.arow2{
  width: 60px ;
  height: 60px;
  margin-left: 20p;
} */
/* stories style */
.stories{
  background-image: url(../assets/bg.png);
  background: linear-gradient(to top, #ffdb9e, #ffffff); 
  margin: 0px auto;
}
.stories-title{
  font-size: 2.8rem;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  
}
.stories-container{
  display: flex;
  gap: 18px;
  max-width:1360px ;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.stories-card1{
  /* padding: 60px 40px; */
  border-radius: 16px;
  background-color: white;
  width:660px ;
  height: 690px; 
  border: none;
  margin-top: 190px;
  margin-bottom: 180px;
  /* margin-left: 18px; */
}
.stories-card1-img{
  width: 100%;
  height: auto;
  margin: 0px auto;
  border-radius: 16px 16px 0px 0px;
}
.stories-card1-about{
  margin-left: 38px;
  margin-right: 38px;
}
.stories-card1-date{
  background-color: rgba(60, 216, 232, 1); 
  color: white;
  display: inline-block;
  /* padding: 9px 19px; */
  padding:18px 32px ;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 500px;
  position: relative;
  margin-right: -38px;
  margin-top: -38px;
 

}
.stories-card1-title{
  font-size:1.25rem ;
  font-weight: bold;
  margin-top: 30px;
}
.stories-card1-description{
  font-size: 1rem;
  font-weight: 500px;
  color: rgba(102, 102, 102, 1);
}
.stories-mini-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
  margin-top: 190px;
  margin-bottom: 180px;
  margin-right: 18x;
}

.stories-card2{
  border-radius: 16px;
  background-color: white;
  border: none;
}
.stories-card2-img{
  width: 100%;
  height: auto;
  margin: 0px auto;
  border-radius: 16px 16px 0px 0px;
}
.stories-mini-card-title{
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 38px 33px 20px;
}
.stories-mini-date1{
  background-color: rgb(3, 65, 17); 
  color: white;
  display: inline-block;
  padding: 10px 19px;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 500px;
  position: relative;
  margin: -190px 78px 10px 20px;
 
}
.stories-mini-date2{
  background-color: rgb(0, 0, 0); 
  color: white;
  display: inline-block;
  padding:9px 19px;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 500px;
  position: relative;
  margin: -190px 78px 10px 20px;
}.stories-mini-date3{
  background-color: rgb(11, 9, 102); 
  color: white;
  display: inline-block;
  padding:9px 19px;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 500px;
  position: relative;
  margin: -190px 78px 10px 20px;
}
.stories-mini-date4{
  background-color: rgb(110, 1, 1); 
  color: white;
  display: inline-block;
  padding:9px 19px;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 500px;
  position: relative;
  margin: -190px 78px 10px 20px;
}

.stories-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-button{
  padding: 10px 60px;
  font-size:1.25rem ;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-top: 20px;
}


@media screen and (max-width:676px) {
  .nav-links{
    display: none;
  }
  .nav-button{
    display: none;
  }
  .menu-bar{
    display: block;
    
  }
  .navbar{
    justify-content: space-between;
  }
  .nav-hr{
    display: block;
    border: 1px solid orange;
  }
  .banner{
    grid-template-columns: repeat(1,1fr);
    flex-direction: column-reverse;
    gap: 5px;
  }
  .banner-img{
    margin: 10px auto;
  }
  .brand-name{
    display: none;
  }
  .banner-content{
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  }
  .arow-container{
    display: none;
  }
  .card{
    grid-template-columns: repeat(1,1fr);
  }
  .curriculam-title{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 45px;
  }
  .stories-card1{
    display: none;
  }
  .stories-mini-card{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin: 20px 16px;
  }
}